@import "tailwindcss";

@keyframes neonGlow {
  0% { text-shadow: 0 0 10px red, 0 0 20px red; }
  100% { text-shadow: 0 0 20px red, 0 0 30px red; }
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


/* 
Midnight Blue & Electric Cyan (Futuristic & Sporty)

Background: #121A2C (Deep Midnight Blue)

Primary: #1E90FF (Bright Electric Blue)

Secondary: #00C6A2 (Teal for accents)

Text: #FFFFFF (White for readability) 
*/