.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  background-color: #2c2c2c; /* Main background color */
  color: #ffffff; /* Text color */
  margin-top: 10px;
  border-radius: 5px;
  position: relative; /* Position relative for info text */
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Added gap between messages */
}

.messageWrapper {
  display: flex;
  align-items: flex-end;
}

.message {
  padding: 10px;
  border-radius: 5px;
  max-width: 70%;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  gap: 10px;
}

.user {
  background-color: #4c4e4d; /* Light green for user messages */
  align-self: flex-end; /* Align user messages to the right */
}

.bot {
  background-color: #131414; /* Light blue for bot messages */
  align-self: flex-start; /* Align bot messages to the left */
  color: #ffffff;
}

.iconWrapper {
  display: flex;
  align-items: center;
}

.userIcon, .botIcon {
  font-size: 20px;
  color: #ffffff; /* Icons will have white color */
}

.inputContainer {
  display: flex;
  align-items: center; /* Align items in center */
  padding: 10px;
  background-color: #232323; /* Darker background for the input bar */
  border-top: 1px solid #444444; /* Optional border to separate messages and input bar */
  border-radius: 0 0 5px 5px; /* Rounded bottom corners */
}

.chatInput {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: none; /* Remove border */
  background-color: #333333; /* Input field background */
  color: #ffffff; /* Input text color */
  outline: none; /* Remove focus outline */
}

.chatInput::placeholder {
  color: #aaaaaa; /* Placeholder text color */
}

.sendButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #31ca26; /* Button color */
  color: #ffffff; /* Button text color */
  border: none; /* Remove border */
  cursor: pointer; /* Pointer cursor on hover */
  outline: none; /* Remove focus outline */
}

.sendButton:hover {
  background-color: #ff4d4d; /* Hover effect color */
}

.sendIcon {
  font-size: 20px; /* Icon size */
}

/* Info text at bottom right */
.infoText {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 12px;
  color: #aaaaaa;
  text-align: right;
  z-index: 2;
}

.deleteButton {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

.deleteIcon {
  font-size: 20px;
}

